a {
  cursor: pointer;
}
.btn-primary {
  background-color: #447BAD;
}
.btn-info {
  background-color: #54C3F1;
}
.btn-danger {
  background-color: #EB5548;
}
.MP-0 {
  margin: 0;
  padding: 0;
}
.picture-section {
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0!important;
}
html,
body {
  width: 100%;
  height: 100%;
}
.bm-body {
  background: url('../img/illustration/i013.jpg') no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding: 10px;
}
@media (min-width: 768px) {
  .bm-body {
    background: url('../img/illustration/i012.jpg') no-repeat;
    background-size: 100% auto;
  }
}
@media (min-width: 1200px) {
  .bm-body {
    background: url('../img/illustration/i011.jpg') no-repeat;
    background-size: 100% auto;
  }
}
header .logo-box img {
  width: auto;
  height: 36px;
}
.bm-content .bm-info-container {
  width: 320px;
  height: auto;
  margin: 0 auto;
}
.bm-content .bm-info-container h2 {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  color: #191919;
  font-family: 'PingFang SC', 'Microsoft YaHei UI', sans-serif;
}
.bm-content .bm-info-container .bm-input-box {
  border-bottom: 1px solid #B8B8B8;
  margin-bottom: 5px;
}
.bm-content .bm-info-container .bm-input-box label {
  font-family: 'PingFang SC', 'Microsoft YaHei UI', sans-serif;
  color: #191919;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  padding: 5px 10px;
}
.bm-content .bm-info-container .bm-input-box .bm-input {
  font-family: 'PingFang SC', 'Microsoft YaHei UI', sans-serif;
  width: calc(100% - 56px);
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.bm-content .bm-info-container .bm-input-box .bm-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  color: #cacdd5;
}
.bm-content .bm-info-container .bm-input-box .bm-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  color: #cacdd5;
}
.bm-content .bm-info-container .bm-input-box .bm-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  color: #cacdd5;
}
.bm-content .bm-info-container .bm-input-box .bm-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  color: #cacdd5;
}
.bm-content .bm-info-container .bm-btn-box {
  width: 320px;
  height: auto;
  margin: 0 auto;
}
.bm-content .bm-info-container .bm-btn-box .bm-btn {
  width: 100%;
  height: 45px;
  background-color: #447BAD;
  border: 0;
  color: #FFFFFF;
}
