a {
  cursor: pointer;
}
.btn-primary {
  background-color: #447BAD;
}
.btn-info {
  background-color: #54C3F1;
}
.btn-danger {
  background-color: #EB5548;
}
.MP-0 {
  margin: 0;
  padding: 0;
}
.picture-section {
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0!important;
}
@font-face {
  font-family: SIMYOU;
  /*这里是说明调用来的字体名字*/
  src: url('../fonts/simyou.ttf');
  /*这里是字体文件路径*/
}
@font-face {
  font-family: yahei;
  /*这里是说明调用来的字体名字*/
  src: url('../fonts/yahei.ttf');
  /*这里是字体文件路径*/
}
