/*
 *
 *
 *
 */
a {
  cursor: pointer;
}
.btn-primary {
  background-color: #447BAD;
}
.btn-info {
  background-color: #54C3F1;
}
.btn-danger {
  background-color: #EB5548;
}
.MP-0 {
  margin: 0;
  padding: 0;
}
.picture-section {
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.clear:after,
.clear:before {
  display: table;
  content: " ";
}
.clear:after {
  clear: both;
}
.opacity-0 {
  opacity: 0!important;
}
.opacity-1 {
  opacity: 1!important;
}
* {
  font-family: 'PingFang SC', 'Microsoft YaHei UI', sans-serif !important;
  color: #2a364c;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #5f95ed;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  outline: none;
}
[v-cloak] {
  display: none;
}
.RadioOrCheckboxLabel {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #B8B8B8;
  position: relative;
  vertical-align: -4px;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 2px;
}
.RadioOrCheckboxLabel::after {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  position: absolute;
  content: '';
  opacity: 0;
}
.RadioOrCheckboxChecked {
  background-color: #5f95ed;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 1px;
  opacity: 1;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.qd-content {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.qd-content .qd-header-box .qd-page-title-box {
  width: 100%;
  height: 35px;
  background-color: #FFFFFF;
  z-index: 1000;
}
.qd-content .qd-header-box .qd-page-title-box .qd-close-new-btn {
  position: absolute;
  display: block;
  left: 0px;
  top: 0;
  width: 35px;
  height: 35px;
  background: url('../img/qd/icon/fanhui.svg') no-repeat center;
  background-size: 18px 18px;
}
.qd-content .qd-header-box .qd-page-title-box .qd-page-title {
  font-size: 16px;
  line-height: 35px;
  font-weight: normal;
  -webkit-box-shadow: 0 0 3px #B8B8B8 !important;
  -moz-box-shadow: 0 0 3px #B8B8B8 !important;
  box-shadow: 0 0 3px #B8B8B8 !important;
  border-bottom: 1px solid #B8B8B8;
  margin: 0;
  text-align: center;
  width: 100%;
  height: auto;
  color: #5f95ed;
}
.qd-content .qd-section .qd-login-box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.qd-content .qd-section .qd-login-box.qd-login-box__signIn .qd-login-box__top {
  height: 330px;
  background: url("../img/qd/qd-login-bg-1.png") no-repeat center bottom;
  background-size: 100% 100%;
}
.qd-content .qd-section .qd-login-box.qd-login-box__signIn .qd-forget-pass {
  float: right;
  display: inline-block;
}
.qd-content .qd-section .qd-login-box.qd-login-box__signUp .qd-login-box__top {
  height: 200px;
  background: url("../img/qd/qd-login-bg-1.png") no-repeat center bottom;
  background-size: 100% 145%;
}
.qd-content .qd-section .qd-login-box.qd-login-box__signUp .qd-forget-pass {
  float: right;
  display: inline-block;
}
.qd-content .qd-section .qd-login-box .qd-login-box__top .qd-login-logo__1 {
  width: 100%;
  height: 250px;
  background: url("../img/qd/logo/qd-logo-1.png") no-repeat center;
  background-size: 190px 190px;
}
.qd-content .qd-section .qd-login-box .qd-login-box__top .qd-login-logo__2 {
  width: 100%;
  height: 130px;
  background: url("../img/qd/logo/qd-logo-2.png") no-repeat center;
  background-size: 190px auto;
}
.qd-content .qd-section .qd-login-box .qd-login-box__content {
  padding: 0 35px;
}
.qd-content .qd-section .qd-login-box .qd-login-box__content .qd-form .qd-input-box .qd-input {
  width: 100%;
  padding-left: 36px;
  background: 8px 6px no-repeat;
  background-size: 20px 20px;
}
.qd-content .qd-section .qd-login-box .qd-login-box__foot {
  padding: 0 35px;
  width: 100%;
  margin-top: 50px;
}
.qd-content .qd-section .qd-login-box .qd-login-box__foot .qd-foot-text-box {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}
@media screen and (min-device-height: 600px) {
  .qd-content .qd-section .qd-login-box .qd-login-box__foot {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-content .qd-section .qd-home-box {
  width: 100%;
  height: 100%;
  background: #F8F8F8 url("../img/qd/qd-login-bg-1.png") no-repeat center top;
  background-size: 100% 33%;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-logo__1 {
  text-align: center;
  padding: 30px 0;
  width: 100%;
  height: 116px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-logo__1 img {
  width: 280px;
  height: auto;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox {
  text-align: center;
  padding: 5px 20px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox:after,
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox:before {
  display: table;
  content: " ";
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox:after {
  clear: both;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox a {
  display: inline-block;
  float: left;
  color: #FFFFFF;
  background: no-repeat center;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox .qd-new-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #D8D8D8;
  background-image: url("../img/qd/icon/add.svg");
  background-size: auto 25px;
  width: calc(100% - 35px);
  height: 30px;
  margin-right: 5px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}
.qd-content .qd-section .qd-home-box .qd-home-box__top .qd-home-top__btnBox .qd-example-btn {
  background-image: url("../img/qd/icon/example.svg");
  background-size: auto 30px;
  width: 30px;
  height: 30px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content {
  background-color: #F8F8F8;
  min-height: 300px;
  padding: 10px 0 10px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog {
  position: relative;
  background-color: #FFFFFF;
  padding: 15px 20px;
  margin-top: 10px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog:first-child {
  margin-top: 0;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-title-box:after,
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-title-box:before {
  display: table;
  content: " ";
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-title-box:after {
  clear: both;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-title-box .qd-home-catalog__title {
  color: #2a364c;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  float: left;
  font-family: '幼圆', 'PingFang SC', 'Microsoft YaHei UI', sans-serif !important;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-title-box .qd-home-catalog__date {
  float: right;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #B8B8B8;
  margin-top: 5px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box {
  color: #2a364c;
  text-align: center;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  height: 30px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box.qd-add-btn-box-active {
  height: 250px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-add-btn {
  display: block;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-add-btn-title-box {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-index-box__content .qd-input-box__1 {
  border: 1px solid #d0d0d0;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-index-box__content .qd-input-box__1 span {
  font-size: 12px;
  width: 80px;
  display: inline-block;
  line-height: 35px;
  border-right: 1px solid #d0d0d0;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-index-box__content .qd-input-box__1 .qd-input {
  width: calc(100% - 90px);
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-index-box__content .qd-add-btn-box .qd-btn-box {
  display: inline-block;
  padding: 0;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-add-btn-box .qd-index-box__content .qd-add-btn-box .qd-btn-box .qd-btn-box-2 {
  width: 80px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-content-box {
  margin-top: 10px;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-content-box .qd-home-catalog__both {
  margin: 0 0 2px;
  color: #797979;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.qd-content .qd-section .qd-home-box .qd-home-box__content .qd-home-catalog-box .qd-home-catalog .qd-home-catalog-content-box .qd-home-catalog__both span {
  color: #797979;
}
.qd-content .qd-section .qd-home-box .qd-home-box__foot {
  background-color: #FFFFFF;
}
.qd-content .qd-section .qd-home-box .qd-home-box__foot .qd-navigation-box .qd-pagination-box {
  text-align: center;
  padding: 10px 0;
  /*.qd-nav-previous-box,
            .qd-nav-next-box{

            }
            .qd-nav-btn-box{

            }*/
}
.qd-content .qd-section .qd-home-box .qd-home-box__foot .qd-navigation-box .qd-pagination-box li {
  display: inline-block;
}
.qd-content .qd-section .qd-home-box .qd-home-box__foot .qd-navigation-box .qd-pagination-box li a {
  color: #A8A8A8;
  display: inline-block;
  width: 20px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
.qd-content .qd-section .qd-index-box {
  width: 100%;
  height: 100%;
}
.qd-content .qd-section .qd-index-box .qd-index-box__top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #cacdd5;
  position: relative;
}
.qd-content .qd-section .qd-index-box .qd-index-box__top h3 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  line-height: 35px;
  font-weight: normal;
  color: #5f95ed;
}
.qd-content .qd-section .qd-index-box .qd-index-box__top a {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url('../img/qd/icon/home.svg') no-repeat center;
  background-size: 100% 100%;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content {
  width: 100%;
  height: 100%;
  padding: 0 25px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-text-box {
  padding-top: 50px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-text-box .qd-index-text-h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-text-box .qd-index-text {
  margin-top: 20px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-text-box .qd-index-text p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 0 3px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-text-box .qd-index-text span {
  color: #797979;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: normal;
  display: block;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content.qd-index-box_form_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-form.qd-index-form__new {
  width: 100%;
  margin-top: -66px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-form .qd-input-box {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-form .qd-input-box span {
  font-size: 14px;
  padding-left: 5px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-form .qd-input-box .qd-input {
  width: calc(100% - 80px);
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-form .qd-input-box.qd-radio-box__1 span {
  margin-right: 5px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-info-box h2 {
  text-align: center;
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  padding: 15px 0 10px;
  margin: 0;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-info-box p {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-module-btn-box {
  margin-top: 25px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-module-btn-box .qd-module-btn-box {
  padding: 13px 0;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-module-btn-box .qd-module-btn-box .qd-module-btn {
  font-size: 16px;
  line-height: 53px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__content .qd-index-module-btn-box .qd-module-btn-box span {
  top: 17px;
}
.qd-content .qd-section .qd-index-box .qd-index-box__foot {
  padding: 0 20px 42px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-device-height: 600px) {
  .qd-content .qd-section .qd-index-box .qd-index-box__foot {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-content .qd-section .qd-new-box {
  padding: 0 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F8F8F8 url("../img/qd/qd-bg-2.png") no-repeat center bottom;
  background-size: 100% auto;
}
.qd-content .qd-section .qd-new-box .qd-new-box__content h2 {
  font-size: 50px;
  line-height: 88px;
  font-weight: normal;
  width: 50px;
  margin: 0 auto;
  padding-top: 100px;
  font-family: '幼圆', 'PingFang SC', 'Microsoft YaHei UI', sans-serif;
}
.qd-content .qd-section .qd-new-box .qd-new-box__content .qd-new-box-text {
  padding: 25px 22px;
  margin-top: 20px;
  position: relative;
  border: 1px solid #5f95ed;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 0 2px 5px #979da7 !important;
  -moz-box-shadow: 0 2px 5px #979da7 !important;
  box-shadow: 0 2px 5px #979da7 !important;
}
.qd-content .qd-section .qd-new-box .qd-new-box__content .qd-new-box-text span {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 1px solid transparent;
  border-top-color: #5f95ed;
  border-right-color: #5f95ed;
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  background-color: #F8F8F8;
}
.qd-content .qd-section .qd-new-box .qd-new-box__content .qd-new-box-text p {
  text-align: left;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
.qd-content .qd-section .qd-new-box .qd-new-box__foot {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 30px;
}
@media screen and (min-device-height: 600px) {
  .qd-content .qd-section .qd-new-box .qd-new-box__foot {
    width: calc(100% - 50px);
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-content .qd-section .qd-new-box .qd-new-box__foot .qd-btn-box .qd-btn {
  -webkit-box-shadow: 0 0 20px #E8E8E8 inset !important;
  -moz-box-shadow: 0 0 20px #E8E8E8 inset !important;
  box-shadow: 0 0 20px #E8E8E8 inset !important;
}
.qd-content .qd-section .qd-issues-list-header {
  padding: 0 20px;
  height: 92px;
}
.qd-content .qd-section .qd-issues-list-header h3 {
  color: #2a364c !important;
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
}
.qd-content .qd-section .qd-issues-list-header p {
  color: #2a364c;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.qd-content .qd-section .qd-issues-list-header h3,
.qd-content .qd-section .qd-background-list-header h3 {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  font-family: '幼圆', '圆体', 'PingFang SC', 'Microsoft YaHei UI', sans-serif !important;
}
.qd-content .qd-section .qd-background-list-header {
  height: 230px;
  background: url("../img/qd/qd-login-bg-1.png") no-repeat center bottom;
  background-size: 100% 100%;
}
.qd-content .qd-section .qd-background-list-header h3 {
  font-size: 24px;
  line-height: 160px;
  font-weight: normal;
}
.qd-content .qd-section .qd-issues-list-content {
  padding: 0;
  /*.qd-home-catalog {
        position: relative;
        .BC(@white-1);
        margin-top: 0;
        border-top: 0;
        .qd-add-btn-box {
          color: @black-4;
          text-align: center;
          margin: 0;
          .transition(height .5s ease);
          height: 43px;
          &.qd-add-btn-box-active {
            height: 165px;
          }
          .qd-add-btn{
            font-size: 24px;
            line-height: 43px;
            display: block;
          }
          .qd-add-btn-title-box {
            font-size: 16px;
            display: block;
            line-height: 43px;
          }
          .qd-index-box__content {
            .qd-input-box__1 {
              border: 1px solid @light-gray-4;
              display: inline-block;
              &:nth-child(1){
                width: 69%;
              }
              &:nth-child(2){
                width: 29%;
              }
              span {
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                display: block;
                border-bottom: 1px solid @light-gray-4;
              }
              .qd-input {
                height: 30px;
                line-height: 30px;
                width: 100%;
                text-align: center;
                padding: 0;
              }
            }
            .qd-add-btn-box {
              line-height: 30px;
              height: 30px;
              .qd-btn-box {
                line-height: 30px;
                height: 30px;
                display: inline-block;
                padding: 0;
                .qd-btn-box-2 {
                  .boxSize2(80px,30px);
                  .font1(12px,30px)
                }
              }
            }
          }
        }
      }*/
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box {
  padding: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn {
  font-size: 14px;
  line-height: 43px;
  border: 0;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  color: #2a364c;
  text-align: center;
  margin: 0;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  height: 43px;
  float: left;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn:nth-child(1) {
  width: 10%;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn:nth-child(2) {
  width: 40%;
  border-left: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn:nth-child(3) {
  width: 20%;
  border-left: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn:nth-child(4) {
  width: 20%;
  border-left: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn:nth-child(5) {
  width: 10%;
  border-left: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn .qd-input-box {
  width: 100%;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-btn .qd-input-box .qd-input {
  width: 100%;
  text-align: center;
  padding: 0;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-label {
  top: 12px;
  right: 23px;
  line-height: 15px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  border: 1px solid #B5D1E4;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 11px;
  /*position: absolute;
          top: 9px;*/
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn.qd-module-small-btn-1 {
  background: url('../img/icon/alter_blue.svg') no-repeat center;
  background-size: 12px 12px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn.qd-module-small-btn-2 {
  background: url('../img/qd/icon/close_blue.svg') no-repeat center;
  background-size: 12px 12px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn.qd-module-small-btn-3 {
  background: url('../img/qd/icon/top_blue.svg') no-repeat center;
  background-size: 12px 12px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn.qd-module-small-btn-4 {
  background: url('../img/qd/icon/bottom_blue.svg') no-repeat center;
  background-size: 12px 12px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box .qd-module-small-btn.qd-module-small-btn-5 {
  background: url('../img/qd/icon/see_blue.svg') no-repeat center;
  background-size: 16px 16px;
}
.qd-content .qd-section .qd-issues-list-content .qd-module-btn-box.qd-module-add-btn-box .qd-module-add-btn {
  width: 50%;
  font-size: 24px;
  line-height: 43px;
  display: inline-block;
}
.qd-content .qd-section .qd-issues-list-foot {
  padding: 0 20px 42px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-device-height: 600px) {
  .qd-content .qd-section .qd-issues-list-foot {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-content .qd-section .qd-background-list-content {
  padding: 0 20px;
  margin-top: -90px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box {
  background-color: #FFFFFF;
  width: 100%;
  height: 320px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  -webkit-box-shadow: 2px 2px 5px #B8B8B8 !important;
  -moz-box-shadow: 2px 2px 5px #B8B8B8 !important;
  box-shadow: 2px 2px 5px #B8B8B8 !important;
  border: 1px solid #F1F1F1;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-title {
  padding: 15px 20px;
  border-bottom: 1px solid #cacdd5;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-title p {
  font-size: 16px;
  line-height: 40px;
  margin: 0;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content {
  padding: 20px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content p {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  background-color: #F5F5F5;
  -webkit-box-shadow: 2px 2px 5px #B8B8B8 !important;
  -moz-box-shadow: 2px 2px 5px #B8B8B8 !important;
  box-shadow: 2px 2px 5px #B8B8B8 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content p.active {
  background-color: #5f95ed;
  color: #FFFFFF;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box {
  margin-bottom: 130px;
  position: relative;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-select-progress {
  width: 100%;
  height: 12px;
  background-color: #cacdd5;
  margin-bottom: 10px;
  position: relative;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-select-progress span {
  background-color: #5f95ed;
  height: 12px;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-select-progress span.qd-select-progress-0 {
  width: 0 !important;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select {
  display: inline-block;
  position: absolute;
  top: 22px;
  width: 14px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select:nth-child(2) {
  left: 0;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select:nth-child(3) {
  left: 25%;
  margin-left: -7px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select:nth-child(4) {
  left: 50%;
  margin-left: -7px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select:nth-child(5) {
  right: 25%;
  margin-left: -7px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select:nth-child(6) {
  right: 0;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select a {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #2a364c;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content .qd-box .qd-background-list-box-select a.active {
  color: #5f95ed;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content.qd-background-list-box-content-textarea {
  padding: 10px;
}
.qd-content .qd-section .qd-background-list-content .qd-background-list-box .qd-background-list-box-content.qd-background-list-box-content-textarea .qd-input-textarea {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  resize: none;
}
.qd-content .qd-section .qd-background-list-footer {
  padding: 0 20px 42px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-device-height: 600px) {
  .qd-content .qd-section .qd-background-list-footer {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box {
  text-align: center;
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box:after,
.qd-content .qd-section .qd-background-list-footer .qd-btn-box:before {
  display: table;
  content: " ";
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box:after {
  clear: both;
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box .qd-btn:nth-child(1) {
  width: 24%;
  float: left;
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box .qd-btn:nth-child(2) {
  width: 50%;
  font-size: 16px;
}
.qd-content .qd-section .qd-background-list-footer .qd-btn-box .qd-btn:nth-child(3) {
  width: 24%;
  float: right;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box {
  padding: 20px;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn {
  width: 45%;
  border: 1px solid #5f95ed;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  padding: 10px;
  text-align: center;
  position: relative;
  opacity: 0.66;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn.active {
  opacity: 1;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn:nth-child(1) {
  float: left;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn:nth-child(2) {
  float: right;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn .qd-tactic-img-box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn .qd-tactic-btn-text {
  margin: 10px 0 20px;
}
.qd-content .qd-section .qd-tactic-list-box-content .qd-tactic-btn-box .qd-tactic-btn span {
  position: absolute;
  display: block;
  bottom: 10px;
  width: calc(100% - 20px);
  color: #EB5548;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box {
  padding: 0 20px;
  width: 100%;
  height: auto;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-header {
  padding: 15px 0;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-header p {
  font-size: 22px;
  line-height: 33px;
  font-weight: normal;
  margin: 0;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-header span {
  color: #797979;
  padding-left: 1px;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-input-box .qd-input {
  outline: none;
  border: 1px solid #5f95ed;
  font-size: 14px;
  line-height: 36px;
  padding: 3px 10px;
  width: 100%;
  height: auto;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-input-box .qd-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 36px;
  color: #cacdd5;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-input-box .qd-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
  line-height: 36px;
  color: #cacdd5;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-input-box .qd-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  line-height: 36px;
  color: #cacdd5;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-input-box .qd-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
  line-height: 36px;
  color: #cacdd5;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-btn-box {
  padding: 15px 0;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-btn-box .qd-btn {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  background-color: #F5F5F5;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #2a364c;
  margin: 0;
  width: 100%;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-new-issues-details-box .qd-new-issues-details {
  margin: 0 0 10px;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-new-issues-details-box .qd-new-issues-details-input {
  border: 0;
  border-bottom: 1px solid #797979;
  line-height: 21px;
  outline: none;
  padding: 14px 8px 0;
  width: 150px;
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-new-issues-details-box .qd-new-issues-details-grade {
  display: inline-block;
  width: calc(100% - 155px);
}
.qd-content .qd-modal-box .qd-modal-content .qd-new-issues-box .qd-new-issues-content .qd-new-issues-details-box .qd-new-issues-details-grade .qd-new-issues-details-input {
  width: 35px;
}
.qd-btn-box-style-2 {
  padding: 0 20px 42px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-device-height: 600px) {
  .qd-btn-box-style-2 {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
.qd-btn-style-2 {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  background-color: #F5F5F5;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #2a364c;
}
.qd-modal-box {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
}
.qd-modal-box .qd-modal-header .qd-modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/qd/icon/fanhui.svg') no-repeat center;
  background-size: 20px 20px;
}
.qd-modal-box .qd-modal-content {
  width: 100%;
  height: 100%;
}
.qd-modal-box .qd-modal-footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box {
  padding: 0 20px;
  width: 100%;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box:after,
.qd-modal-box .qd-modal-footer .qd-modal-btn-box:before {
  display: table;
  content: " ";
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box:after {
  clear: both;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box .qd-btn-box {
  width: 50%;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box .qd-btn-box .qd-btn {
  line-height: 36px;
  font-size: 14px;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box .qd-btn-box:nth-child(1) {
  float: left;
  padding-right: 15px;
}
.qd-modal-box .qd-modal-footer .qd-modal-btn-box .qd-btn-box:nth-child(2) {
  float: right;
  padding-left: 15px;
}
.qd-module-btn-box {
  position: relative;
}
.qd-module-btn-box .qd-module-btn {
  display: block;
  border: 1px solid #B5D1E4;
  text-align: center;
}
.qd-module-btn-box.active .qd-module-btn {
  border: 1px solid #5f95ed;
  color: #5f95ed;
}
.qd-module-btn-box .qd-label {
  display: inline-block;
  right: 5px;
  background-color: #E8E8E8;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  position: absolute;
  padding: 0 7px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}
.qd-input-box.qd-radio-box__1 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.qd-input-box.qd-radio-box__1 .qd-radio {
  display: none;
}
.qd-input-box.qd-radio-box__1 label {
  margin-left: 5px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #B8B8B8;
  position: relative;
  vertical-align: -4px;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 2px;
}
.qd-input-box.qd-radio-box__1 label::after {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  position: absolute;
  content: '';
  opacity: 0;
}
.qd-input-box.qd-radio-box__1 .qd-radio:checked + label::after {
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  background-color: #5f95ed;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 1px;
  opacity: 1;
}
.qd-input-box.qd-input-box__1 {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 15px;
  position: relative;
}
.qd-input-box.qd-input-box__1 .qd-input {
  border: 0;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  outline: none;
  background-color: transparent;
  padding: 6px 10px 4px 6px;
}
.qd-input-box.qd-input-box__1 .qd-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 25px;
  color: #D8D8D8;
}
.qd-input-box.qd-input-box__1 .qd-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
  line-height: 25px;
  color: #D8D8D8;
}
.qd-input-box.qd-input-box__1 .qd-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  line-height: 25px;
  color: #D8D8D8;
}
.qd-input-box.qd-input-box__1 .qd-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
  line-height: 25px;
  color: #D8D8D8;
}
.qd-input-box.qd-input-box__1 .qd-input-btn {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 35px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  width: 100px;
  height: 35px;
  text-align: center;
}
.qd-input-box.qd-input-box__1 .qd-input-btn.qd-btn__input__1 {
  color: #FFFFFF;
  background-color: #5f95ed;
}
.qd-input-box.qd-input-box__1 .qd-input-btn.qd-btn__code__1 img {
  width: 100px;
  height: 35px;
}
.qd-p-t-r {
  position: absolute;
  top: 0;
  right: 0;
}
.qd-p-t-l {
  position: absolute;
  top: 0;
  left: 0;
}
.qd-box {
  position: relative;
}
.qd-box:after,
.qd-box:before {
  display: table;
  content: " ";
}
.qd-box:after {
  clear: both;
}
.qd-btn-box {
  padding: 10px 0;
}
.qd-btn-box .qd-btn {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
}
.qd-btn-box .qd-btn__block {
  width: 100%;
  display: block;
}
.qd-btn-box .qd-btn__1 {
  background-color: #5f95ed;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}
.qd-btn-box .qd-btn__2 {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 21px !important;
  -moz-border-radius: 21px !important;
  border-radius: 21px !important;
}
.qd-btn-box .qd-btn__3 {
  background-color: #EB5548;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}
.qd-btn-box .qd-btn__4 {
  background-color: #d0d0d0;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}
.qd-btn-box .qd-checkbox {
  display: none;
}
.qd-btn-box label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #B8B8B8;
  position: relative;
  vertical-align: -4px;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 2px;
}
.qd-btn-box label::after {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  position: absolute;
  content: '';
  opacity: 0;
}
.qd-btn-box .qd-checkbox:checked + label::after {
  background-color: #5f95ed;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 1px;
  opacity: 1;
}
.qd-btn-box.qd-btn-box-2 {
  width: 50%;
  float: left;
  padding: 10px;
}
