@import "lib.less";
html,body{
  font-family: 'PingFang SC','Microsoft YaHei UI',yahei,sans-serif;
  font-size: 12px;
  background-color: @white-1;
}

.navbar {
  min-height: 0;
  .boxSize2(100%, 60px);
  .BC(@white-1);
  padding: 0;
  border: none;
  .borderRadius(0);
  z-index: 1000;
  top: 0;
  left: 0;
  .boxShadow(0 0 3px @black-2);
  .navbar-container {
    padding: 0;
    background-color: @white-1;
    .boxShadow(0 0 3px @black-2);
    .navbar-collapse{
      margin: 0;
      .BC(transparent);
    }
  }
  .navbar-header {
    margin: 0;
    .navbar-toggle{
      border: 0;
      margin-top: 14px;
      .icon-bar{
        background-color: @gray-1;
      }
      &:focus,&:hover{
        background-color: @black-3;
        .BC(transparent);
      }
    }
    .navbar-brand {
      padding: 6px 5px 9px;
      .boxSizeH(60px);
      img {
        .boxSizeH(45px);
      }
    }
  }
  .navbar-nav>li{
    a{
      position: relative;
      color: @black-1;
      &:hover{
        background-color: @white-3;
        color: @black-3;
      }
      &:focus{
        color: @black-1;
        .BC(transparent);
      }
    }
    &.active>a{
      background-color: @white-3;
      color: @black-3;
      &:hover{
        background-color: @white-3;
        color: @black-3;
      }
      &:focus{
        color: @black-1;
        .BC(transparent);
      }
    }
  }
  @media (min-width: 768px) {
    .boxSize2(100%, 115px);
    position: relative;
    .navbar-container {
      .BC(transparent);
      .boxShadow(none);
    }
    .navbar-header > .navbar-brand {
      padding: 12px 10px 23px;
      .boxSizeH(115px);
      img {
        .boxSizeH(80px);
      }
    }
    .navbar-nav > li {
      a {
        margin: 0 10px;
        letter-spacing: 1px;
        padding: 35px 10px;
        font-size: 16px;
        line-height: 30px;
        color: @black-3;
        .BC(transparent);
        &:after {
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          margin: 0 auto;
          content: '';
          background-color: @red-1;
          .boxSize1(0px);
          .borderRadius(50%);
          .transition(all 0.5s);
        }
        &:hover {
          .BC(transparent);
          color: @black-3;
          &:after{
            .boxSize1(6px);
          }
        }
      }
      &.active > a {
        color: @black-3;
        .BC(transparent);
        &:hover {
          .BC(transparent);
        }
        &:after{
          .boxSize1(6px);
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .boxSize2(100%, 115px);
    .navbar-container {
      .BC(transparent);
      .boxShadow(none);
    }
    .navbar-header > .navbar-brand {
      padding: 12px 10px 23px;
      .boxSizeH(115px);
      img {
        .boxSizeH(80px);
      }
    }
    .navbar-nav > li {
      a {
        margin: 0 10px;
        letter-spacing: 1px;
        padding: 45px 10px;
        .font1(16px,25px);
      }
      &.active > a {
        color: @black-3;
        .BC(transparent);
        &:after{
          .boxSize1(6px);
        }
        &:hover {
          .BC(transparent);
        }
      }
    }
  }
}

/*.page-section:not(.banner-section) {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    margin-bottom: 30px;
    .container{
      padding: 5px;
    }
  }
  @media (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.picture-section{
    background-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0!important;
  }
}

.row{
  margin: 0;
  .item{
    padding: 5px 0;
    @media (min-width: 768px){
      padding: 5px;
    }
    @media (min-width: 1600px){
      padding: 10px;
    }
  }
}

.course-section{
  text-align: center;
  .section-header{
    margin-bottom: 30px;
    h3{
      text-align: left;
      color: @font-black;
      margin: 0 0 5px;
      .font(24px,normal);
    }
    p{
      text-align: left;
      color: @font-gray;
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      line-height: 24px;
    }
    @media (min-width: 768px) {
      margin-bottom: 51px;
      h3{
        text-align: center;
        margin: 0 0 15px;
        .font(28px,normal);
      }
      p {
        text-align: center;
        width: 80%;
        font-size: 15px;
        line-height: 27px;
      }
    }
    @media (min-width: 1200px) {
      margin-bottom: 72px;
      h3{
        .font(39px,normal);
        margin: 0 0 25px;
      }
      p {
        width: 60%;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.company-module-section{
  background-color: @page-white;
  .company-module-card{
    .box-size(100%, auto);
    max-width: 270px;
    margin: 0 auto;
    padding: 5px;
    .company-module-icon{
      margin-bottom: 15px;
      img{
        .box-size(90px,90px)
      }
    }
    .company-module-content{
      h4{
        margin: 0 0 10px;
        .font(16px, normal);
        color: @font-black;
        span{
          color: @font-red;
        }
      }
      p{
        color: @font-gray;
        font-size: 12px;
        line-height: 21px;
        height: 84px;
      }
    }
    @media (min-width: 768px) {
      .box-size(260px, auto);
      .company-module-icon{
        margin-bottom: 20px;
        img{
          .box-size(120px,120px)
        }
      }
      .company-module-content{
        h4{
          .font(20px, normal);
        }
        p{
          font-size: 13px;
          line-height: 23px;
          height: 69px;
        }
      }
    }
    @media (min-width: 992px) {
      .box-size(200px, auto);
      .company-module-icon>img{
        .box-size(100px,100px)
      }
      p{
        height: 92px;
      }
    }
    @media (min-width: 1200px) {
      .box-size(270px, auto);
      .company-module-icon{
        margin-bottom: 25px;
        img{
          .box-size(130px,130px)
        }
      }
      .company-module-content{
        h4{
          .font(24px, normal);
        }
        p{
          font-size: 14px;
          line-height: 25px;
          height: 75px;
        }
      }
    }
  }
}

.person-module-section{
  .person-module-box{
    background: url("../img/illustration/i002.png") no-repeat right center;
    background-size: 55% auto;

    @media (max-width: 767px) {
      background: url("../img/illustration/i002.png") no-repeat left bottom;
      background-size: 360px auto;
      padding-bottom: 310px;
      margin-bottom: 50px;
    }

    @media (min-width: 1600px) {
      background-size: 60% auto;
    }
  }
  .person-module-card{
    .person-module-content{
      text-align: left;
      h4{
        margin: 0;
        .font(16px, normal);
        span{
          display: inline-block;
          font-size: 48px;
          line-height: 48px;
          color: #F1CDCD;
        }
      }
      p{
        margin: 0 0 20px;
        color: @font-gray;
        font-size: 12px;
        line-height: 21px;
        width: 100%;
      }

      @media (min-width: 768px) {
        h4 {
          .font(20px, normal);
          span {
            font-size: 64px;
            line-height: 64px;
          }
        }
        p {
          font-size: 13px;
          line-height: 23px;
          margin: 0 0 35px;
          width: 45%;
        }
      }
      @media (min-width: 1200px) {
        h4 {
          .font(24px, normal);
          span {
            font-size: 80px;
            line-height: 80px;
          }
        }
        p {
          font-size: 14px;
          line-height: 25px;
          margin: 0 0 50px;
        }
      }
      @media (min-width: 1600px) {
        padding: 20px 0;
        p {
          width: 40%;
        }
      }
    }
  }
}

.course-module-section{
  background-color: @page-white;
  margin-bottom: 0!important;
  padding-bottom: 100px!important;
  .row{
    background-size: 200px;
    .item{
      border: 0 solid @component-white-3;
      border-bottom-width: 0.9px;
      &:nth-child(7){
        border-bottom-width: 0;
      }
      &:nth-child(8){
        border-bottom-width: 0;
        .course-module-picture>img{
          .box-size(100%, auto);
        }
      }
      @media (min-width: 768px){
        &:nth-child(8){
          .course-module-picture>img{
            padding: 20px 0;
            .box-size(auto, 180px);
          }
        }
        &:nth-child(2n+1){
          border-right-width: 0.9px;
        }
        &:nth-child(2n+2){
          border-right-width: 0;
        }
      }
      @media (min-width: 1200px){
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
          border-bottom-width: 0;
        }
        &:nth-child(7){
          border: 0;
          .course-module-card{
            display: inline-block;
            margin: 0 auto;
          }
        }
        &:nth-child(8){
          border: 0;
          .course-module-picture>img{
            padding: 20px 0 0;
            .box-size(auto, 250px);
          }
        }
        &:nth-child(7),&:nth-child(8){
          display: inline-block;
          margin: 0 auto;
        }
        border-right-width: 0.9px;
        &:nth-child(3n+1) {
          border-right-width: 0.9px;
        }
        &:nth-child(3n+2) {
          border-right-width: 0.9px;
        }
        &:nth-child(3n+3) {
          border-right-width: 0;
        }
      }
    }
    .item:nth-child(1){
      .course-module-card{
        .course-module-num{
          background-color: rgb(250,189,184);
        }
      }
    }
    .item:nth-child(2){
      .course-module-card{
        .course-module-num{
          background-color: rgb(176,203,224);
        }
      }
    }
    .item:nth-child(3){
      .course-module-card{
        .course-module-num{
          background-color: rgb(175,232,251);
        }
      }
    }
    .item:nth-child(4){
      .course-module-card{
        .course-module-num{
          background-color: rgb(212,231,175);
        }
      }
    }
    .item:nth-child(5){
      .course-module-card{
        .course-module-num{
          background-color: rgb(135,217,213);
        }
      }
    }
    .item:nth-child(6){
      .course-module-card{
        .course-module-num{
          background-color: rgb(164,166,207);
        }
      }
    }
    .item:nth-child(7){
      .course-module-card{
        .course-module-num{
          background-color: rgb(225,208,187);
        }
      }
    }
  }
  .course-module-card{
    padding: 10px;
    .course-module-content{
      text-align: left;
      margin: 20px 0;
      .course-module-title{
        margin-bottom: 20px;
        .course-module-num{
          text-align: center;
          .border-radius(5px);
          .box-size(57px, 57px);
          .transform(rotate(45deg));
          color: @font-white-2;
          display: inline-block;
          float: left;
          margin: 0 20px 0 8px;
          span{
            display: inline-block;
            .transform(rotate(-45deg));
            font-size: 36px;
            font-weight: bold;
            line-height: 57px;
          }
        }
        h4{
          margin: 0;
          display: inline-block;
          text-align: left;
          .font(24px,normal);
          span{
            .font(14px,normal);
            display: block;
            color: @font-black-2;
          }
        }
      }
      p{
        .font(14px,normal);
        margin: 0;
        color: @font-gray;
      }
    }
  }
}*/

footer{
  .boxSizeW(100%);
  background-color: @blue-1;
  .footer-card{
    padding: 30px 0;
    .footer-logo-card{
      display: inline-block;
      .boxSize2(100%, 135px);
      .BS('../img/logo_2.svg',175px auto);
    }
    .footer-menu-card{
      margin-top: 48px;
      h4{
        .font2(16px,normal);
        color: @red-1;
      }
      .footer-menu{
        padding: 0;
        display: table;
        content: '';
        li{
          list-style: none;
          float: left;
          padding: 0 25px;
          &:first-child{
            padding-left: 0;
          }
          a{
            color: @gray-3;
            text-decoration: none;
            .font1(16px,18px);
          }
        }
        li+li{
          border-left: 0.9px solid @gray-3;
        }
      }
      p{
        color: @gray-3;
      }
    }
  }
  .copyright{
    border-top: 0.9px solid @black-2;
    text-align: center;
    p{
      margin: 0;
      color: @black-1;
      padding: 20px 0;
      .font2(10px,normal);
      @media (min-width: 768px) {
        .font2(12px,normal);
      }
    }
  }
}
